<app-dialog-container
  [dialogTitle]="title"
  [dialogActionTemplate]="actionTemplate">
  <app-form-control
    #formTpl
    [form]="form"
    (submitEvent)="onSubmit()">
    <div class="form-grid">
      @if (!data.staffId) {
        <app-select-control
          [item]="findFormControl($formItem, key.STAFF_ID)"
          [form]="form"></app-select-control>
      }

      <app-select-control
        [item]="findFormControl($formItem, key.SCHOOL_YEAR_ID)"
        [form]="form"></app-select-control>

      <app-select-control
        [item]="findFormControl($formItem, key.DEPARTMENT_ID)"
        [form]="form"></app-select-control>

      <app-select-control
        [item]="findFormControl($formItem, key.CLASS_ID)"
        [form]="form"></app-select-control>

      <app-select-control
        [item]="findFormControl($formItem, key.SUBJECT_ID)"
        [form]="form"></app-select-control>

      <app-text-control
        [item]="findFormControl($formItem, key.TEACHING_LOAD)"
        [form]="form"></app-text-control>

      <app-checkbox-control
        [item]="findFormControl($formItem, key.IS_HOMEROOM)"
        [form]="form"></app-checkbox-control>

      <app-textarea-control
        [item]="findFormControl($formItem, key.NOTE)"
        [form]="form"
        class="full-row"></app-textarea-control>
    </div>
  </app-form-control>

  <ng-template #actionTemplate>
    <button
      color="primary"
      matButton="outlined"
      mat-dialog-close>
      Huy
    </button>
    @if (data.type !== TYPE_FORM.DETAIL) {
      <button
        color="primary"
        matButton="filled"
        (click)="formTpl.submit()">
        Luu
      </button>
    }
    @if (data.type === TYPE_FORM.DETAIL) {
      <button
        color="primary"
        matButton="filled"
        (click)="switchUpdate()">
        Chinh sua
      </button>
    }
  </ng-template>
</app-dialog-container>
