<app-dialog-container
  [dialogTitle]="title"
  [dialogActionTemplate]="actionTemplate">
  <app-form-control
    class="subject-config-head"
    [form]="form"
    (submitEvent)="filterData()"
    (resetEvent)="resetFilter()">
    <div class="flex gap-2 items-center">
      <app-text-control
        class="flex-1"
        [item]="findFormControl($formItem, MON_HOC_KEY.NAME)"
        [form]="form"></app-text-control>
      <div class="flex gap-1 items-center">
        <button
          color="dark"
          matIconButton="text"
          matTooltip="Tìm kiếm"
          type="submit">
          <app-icon
            icon="svg:search"
            color="#858585" />
        </button>
        <button
          color="dark"
          matIconButton="text"
          matTooltip="Làm mới"
          type="reset">
          <app-icon
            icon="svg:cached"
            color="#858585" />
        </button>
      </div>
    </div>
  </app-form-control>

  <app-table
    tableTitle="Danh sách môn học"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [total]="dataSourceTotal"
    [tableConfig]="tableConfig"
    [dataSource]="dataSource"
    [headerTemplate]="headerTemplate"
    [tableColumns]="columns"
    (queryChange)="filterData($event)">
  </app-table>

  <ng-template #selectHeaderTpl>
    <mat-checkbox
      [checked]="isAllCurrentPageSelected()"
      (change)="toggleCurrentPage($event.checked)">
    </mat-checkbox>
  </ng-template>

  <ng-template
    #selectTpl
    let-row>
    <mat-checkbox
      [checked]="isSelected(row?.subjectId)"
      (click)="$event.stopPropagation()"
      (change)="toggleSubject(row?.subjectId, $event.checked)">
    </mat-checkbox>
  </ng-template>

  <ng-template #actionTemplate>
    <button
      color="primary"
      matButton="outlined"
      (click)="closeDialog()">
      Hủy
    </button>
    <button
      color="primary"
      matButton="filled"
      (click)="saveConfig()">
      Lưu
    </button>
  </ng-template>
</app-dialog-container>
