<app-dialog-container
  [dialogTitle]="title"
  [dialogActionTemplate]="actionTemplate">
  <app-form-control
    #formTpl
    [form]="form"
    (submitEvent)="onSubmit()">
    <div class="flex flex-col gap-2">
      <app-text-control
        [item]="findFormControl($formItem, key.LANGUAGE_NAME)"
        [form]="form"></app-text-control>
      <app-text-control
        [item]="findFormControl($formItem, key.LANGUAGE_LEVEL)"
        [form]="form"></app-text-control>
      <app-date-control
        [item]="findFormControl($formItem, key.ISSUE_DATE)"
        [form]="form"></app-date-control>
      <app-text-control
        [item]="findFormControl($formItem, key.SCORE)"
        [form]="form"></app-text-control>
      <app-textarea-control
        [item]="findFormControl($formItem, key.NOTE)"
        [form]="form"></app-textarea-control>
    </div>
  </app-form-control>

  <ng-template #actionTemplate>
    <button
      color="primary"
      matButton="outlined"
      mat-dialog-close>
      Hủy
    </button>
    @if (data.type !== TYPE_FORM.DETAIL) {
      <button
        color="primary"
        matButton="filled"
        (click)="formTpl.submit()">
        Lưu
      </button>
    }
    @if (data.type === TYPE_FORM.DETAIL) {
      <button
        color="primary"
        matButton="filled"
        (click)="switchUpdate()">
        Chỉnh sửa
      </button>
    }
  </ng-template>
</app-dialog-container>
