<app-dialog-container
  [dialogTitle]="title"
  [dialogActionTemplate]="actionTemplate">
  <app-form-control
    #formTpl
    [form]="form"
    (submitEvent)="onSubmit()">
    <div class="flex flex-col gap-2">
      <app-text-control
        [item]="findFormControl($formItem, key.CODE)"
        [form]="form"></app-text-control>
      <app-text-control
        [item]="findFormControl($formItem, key.NAME)"
        [form]="form"></app-text-control>
      <app-text-control
        [item]="findFormControl($formItem, key.GRADE_NUMBER)"
        [form]="form"></app-text-control>
      <app-select-control
        [item]="findFormControl($formItem, key.STATUS)"
        [form]="form"></app-select-control>
      <app-textarea-control
        [item]="findFormControl($formItem, key.DESCRIPTION)"
        [form]="form"></app-textarea-control>
    </div>
  </app-form-control>

  <ng-template #actionTemplate>
    <button
      color="primary"
      matButton="outlined"
      mat-dialog-close>
      Hủy
    </button>
    @if (data.type !== TYPE_FORM.DETAIL) {
      <button
        color="primary"
        matButton="filled"
        (click)="formTpl.submit()">
        Lưu
      </button>
    }
    @if (data.type === TYPE_FORM.DETAIL) {
      <button
        color="primary"
        matButton="filled"
        (click)="switchUpdate()">
        Chỉnh sửa
      </button>
    }
  </ng-template>
</app-dialog-container>
