<app-dialog-container [dialogActionTemplate]="Actions">
  <ng-container header-template>
    <div class="flex justify-between items-center gap-2 w-full">
      <h6
        mat-dialog-title
        class="!p-0 !text-lg !font-semibold !text-night-500 max-w-full">
        <span class="block max-w-full truncate">Kết nạp dữ liệu</span>
      </h6>
      <button
        color="info"
        matButton="text"
        (click)="downloadTemplate()"
        [disabled]="isDownloading || isSubmitting">
        <app-icon icon="svg:download" />
        {{ isDownloading ? 'Đang tải mẫu...' : 'Tải mẫu kết nạp' }}
      </button>
    </div>
  </ng-container>

  <app-form-control
    #formTpl
    [form]="form"
    (submitEvent)="onSubmit()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
      <app-select-control
        [item]="findFormControl($formItem, key.SCHOOL_YEAR_ID)"
        [form]="form"></app-select-control>
      <app-select-control
        [item]="findFormControl($formItem, key.SEMESTER_ID)"
        [form]="form"></app-select-control>
      <app-select-control
        [item]="findFormControl($formItem, key.CLASSROOM_ID)"
        [form]="form"></app-select-control>
      <app-select-control
        [item]="findFormControl($formItem, key.SUBJECT_ID)"
        [form]="form"></app-select-control>
    </div>

    <div class="mt-3">
      <app-file-control
        [item]="findFormControl($formItem, 'file')"
        [form]="form"></app-file-control>
    </div>
  </app-form-control>
</app-dialog-container>

<ng-template #Actions>
  <button
    color="info"
    matButton="outlined"
    mat-dialog-close
    [disabled]="isSubmitting || isDownloading">
    Thoát
  </button>
  <button
    type="button"
    color="info"
    matButton="filled"
    (click)="formTpl.submit()"
    [disabled]="isSubmitting || isDownloading"
    cdkFocusInitial>
    <app-icon
      *ngIf="isSubmitting"
      icon="svg:loading"
      class="animate-spin" />
    {{ isSubmitting ? 'Đang kết nạp...' : 'Nhập dữ liệu' }}
  </button>
</ng-template>
